body {
  background-color: lavender;
  font-size: 300%;
  color: blue;
  text-align: center;
  text-shadow: 8px 8px 5px #ff0000;
}
.myClass {
      background-color: gray;
      color: blue
    }
    #title-section{
      border-style: ridge
    }